<!DOCTYPE html>
<html lang="en" ng-app="wikiApp">
    <head>
        <meta charset="utf-8">
        <title>WikipediaViewer</title>
        <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
        <script src="app.js"></script>
        <script src="factories/wiki-factory.js"></script>
        <script src="directives/autocomplete-directive.js"></script>
        <script src="controllers/wiki-controller.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <header>
            <h1>Wikipedia Viewer</h1> 
        </header>

        <main>
            <div ng-controller="WikiController as wiki">

                <!-- SEARCH FORM -->
                <form class="search-form" name="form" ng-submit="searchWikiArticles()">

                    <!-- languages -->
                    <div class="lang-container">
                        <span ng-repeat="lang in langs">    
                                <!--ng-class = "{'lang-label__active' : searchForm.language }"-->
                            <input 
                                type="radio" 
                                id="lang-{{ lang.shortcut }}" 
                                name="language" 
                                ng-model="searchForm.language" 
                                value="{{ lang.shortcut }}">
                            <label 
                                for="lang-{{ lang.shortcut }}"
                                class="lang-label"
                                >        
                                {{ lang.full }}
                            </label>
                        </span>
                    </div>

                    <div class="search-group">
                        <div class="search-input-group">
                            <input 
                                type="text" 
                                id="keyword" 
                                ng-model="searchForm.keyword" 
                                ng-change="searchTitles(searchForm.keyword)"
                                placeholder="What are you looking for?">

                            <!-- autocomplete directive -->
                                <autocomplete 
                                    titles="wikiTitles" 
                                    is-visible="isAutocompleteVisible"
                                    choose-title="showAutocompleteTitles(keyword)"></autocomplete>
                                
                        </div>
                        <button type="submit" class="btn form-btn">Search</button>
                        <a href="https://en.wikipedia.org/wiki/Special:Random" class="btn random-article-link" target="_blank">Random page</a>
                    </div>
                </form>

                <!-- SHOW FOUND ARTICLES -->
                <div ng-if="articlesLoading">Loading...</div>
                <div ng-if="!articlesLoading">
                    <div ng-if="wikiArticles">
                        <div class="wiki-article" ng-repeat="article in wikiArticles">
                            <a href="https://en.wikipedia.org/wiki?curid={{ article.pageid }}" target="_blank">
                                <div class="wiki-article-content">
                                    <h3 class="article-title">{{ article.title }}</h3>

                                    <p class="article-desc">
                                        {{ article.extract }}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


            </div> <!-- end of div.WikiController -->
        </main> <!-- -->
    </body>
</html>